 *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url("https://scontent.fmnl25-1.fna.fbcdn.net/v/t1.15752-9/263170030_1168392760233390_3778270495869760430_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFGzoprKL8PoOTfnEQNlk0clXhXw_lh5qOVeFfD-WHmo3nTFRhQhzo2C9We6WXc985-KSUqZoimiMoUhtGafOsD&_nc_ohc=mc4QTH8TphwAX_Oxrmr&_nc_ht=scontent.fmnl25-1.fna&oh=03_AVLyy82CTWjW8nQ78Ee0zTDkftbSKta0P1LByB-GtrcVZQ&oe=61DDFA63");
        text-align: center;
        background-color: green;
        background-repeat: no-repeat;
        background-size: 100% 120%;
    }
    #header1{
        font-size: 32pt;
        border: 10px solid black;
        width: 250px;
        margin-left: 570px;
        background-color: green;
        font-family: arial black;
        
       
    }
    .border{
        width: 400px;
        height: 400px;
        background-color: blanchedalmond;
        margin-left: 499px;
        margin-top: 70px;
        border: 5px dashed rgb(0, 140, 255);
        background-image: url("https://scontent.fmnl25-2.fna.fbcdn.net/v/t1.15752-9/263092921_318192853639607_9136918969298324452_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeEu8GHDYwYRF7bldKzQuZNLOlHFZ_XM7006UcVn9czvTSgrXXp-9D6qr13hKQystDWoOX32992mXChfWMAX4AUW&_nc_ohc=4IRUZvD2NMUAX8PiUtB&_nc_ht=scontent.fmnl25-2.fna&oh=03_AVJdtpSnpNe7b4M0GY6L6LRcpvSFMQk_fLfdXfpS1vcQyA&oe=61DE1D07");
        background-size: 100% 100%;
    }
    .cal{
       
        font-family: 'Times New Roman', Times, serif;
        font-size: 24pt;
        margin-top: 15px;
        color: whitesmoke;
    }
    button{
        margin-top: 50px;
        background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
    }
